.body {
    margin: 0%;
    width: auto
}
.header {
    margin-left: 20px;
    margin-right: 20px;
    color: darkblue;
    font-size: 13px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.nav ul{
    padding: 0%;
    width: 350px;
    display: flex;
    justify-content: space-between;
}

.header-list li{
    display: inline-block;
    font-weight: bolder;
}

.content-ttl {
    font-size: 60px;
    margin-bottom: 0px;
    line-height: 50px;
}

.blue-box {
    width: 1136px;
    height: 166px;
    background-color: darkblue;
    position: relative;
}

.imgcard img {
    width: 50vw;
    height: 398px;
    position: absolute;
    top: -350px;
    left: 50vw;
}
